<section>
  <div class="add-workspace">
    <form [formGroup]="workSpaceForm" (ngSubmit)="onSubmitWorkspaceForm()">
      <label for="name">Name
        <input type="text" formControlName="name" id="name" placeholder="Name" required>
      </label>
      <button type="submit">Add Workspace</button>
    </form>
  </div>
</section>
