.profile-container {
  margin: 42px auto 0 auto;
  width: 90%;
  height: 88vh;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.15), 0 2px 6px 2px rgba(60,64,67,0.15);
  display: flex;
  border-radius: 15px;
}

/* sidebar */

.sidebar {
  border-radius: 15px 0 0 15px;
  background: #302b63;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.add-workspace-container {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add-workspace-container button {
  width: 85%;
  padding: 8px;
  border-radius: 8px;
  background: #FFFFFF;
  cursor: pointer;
}

.add-workspace-container button:hover {
  background: #f6f6f6;
}

.workspace-header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.workspace-header label {
  width: 60%;
}

.workspace-header .dropdown-button {
  display: flex;
  align-items: center;
  padding: 0;
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
}

.workspace-header button {
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
}

.dropdown-button span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.workspace-header .dropdown-menu {
  width: 100%;
  margin-left: -6px;
}

.dropdown-profile-menu {
  width: 80%;
}

.channels-menu {
  color: #fff;
  margin: 18px 0;
  width: 100%;
}

.channels-menu-header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.channels-menu-header p, .channels-menu-header button {
  cursor: pointer;
}

.channels-menu-content {
  width: 100%;
  margin-top: 12px;
  padding: 0 8px;
  font-size: 14px;
}

.channels-menu-content ul {
  margin-top: -5px;
  margin-left: -50px;
  list-style: none;
}

.channels-menu-content ul li {
  padding: 12px 12px 12px 32px;
  cursor: pointer;
}

.channel {
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.channel:hover {
  color: #000;
  background-color: #fff;
}

.channel-active {
  color: #000;
  background-color: #fff;
}

/* content */

.content {
  border-radius: 0 15px 15px 0;
  width: 100%;
  background: #fff;
  padding: 0 30px;
  overflow-y: auto;
}

.profile-alert {
  position: fixed;
  right: 0;
  margin-right: 25px;
  bottom: 0;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
}

.profile-alert-close-button {
  padding-left: 30px;
  cursor: pointer;
}

/* Modal */

.workspace-settings-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.workspace-settings-header button {
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 5px;
  margin: 0 8px;
  cursor: pointer;
}

.workspace-settings-header button:hover {
  color: #000;
  background: #f6f6f6;
}

.workspace-settings-header-button-action {
  background: #302b63;
  color: #FFFFFF;
}

