<section class="profile-container">
  <div class="sidebar">
    <div class="add-workspace-container">
      <button title="Add workSpace" (click)="openModal('add-workspace')"><i class="far fa-plus-square"></i>&nbsp;&nbsp;&nbsp;Add workspace</button>
    </div>

    <div class="workspace-header">
      <label class="dropdown">
        <div class="dropdown-button" *ngIf="!currentWorkspace">⚈&nbsp;&nbsp;&nbsp;<i class="fas fa-caret-down"></i></div>
        <div class="dropdown-button" *ngIf="currentWorkspace" title="{{ currentWorkspace.name }}">⚈&nbsp;<span>{{ currentWorkspace.name }}</span>&nbsp;&nbsp;<i class="fas fa-caret-down"></i></div>
        <input type="checkbox" class="dropdown-input" id="test">
        <ul class="dropdown-menu dropdown-profile-menu" *ngIf="workspaces && workspaces.length > 0">
          <li (click)="leaveWorkspace(); currentWorkspace = undefined;">&nbsp;&nbsp;</li>
          <span *ngFor="let workspace of workspaces;">
            <li (click)="getWorkspaceChannels(workspace)" title="{{ workspace.name }}">{{ workspace.name }}</li>
            <li class="divider"></li>
          </span>
        </ul>
      </label>
      <button title="Workspace settings" *ngIf="currentWorkspace && currentWorkspaceMember && currentWorkspaceMember.role == 'ADMIN'" (click)="openModal('workspace-settings')"><i class="fas fa-cog"></i></button>
    </div>

    <div class="channels-menu">
        <div class="channels-menu-header">
            <p *ngIf="(currentWorkspace && currentWorkspace?.channels?.length == 0)">No channel...</p>
            <p *ngIf="currentWorkspace && currentWorkspace.channels && currentWorkspace.channels.length > 0" (click)="channelsMenuOpen = !channelsMenuOpen">
              <i class="fas fa-chevron-down" *ngIf="channelsMenuOpen"></i><i class="fas fa-chevron-right" *ngIf="!channelsMenuOpen"></i>&nbsp;&nbsp;Channels
            </p>
            <button *ngIf="currentWorkspace && currentWorkspaceMember?.role == 'ADMIN'" title="Create channel" (click)="openModal('add-channel')"><i class="fas fa-plus"></i></button>
        </div>
        <div class="channels-menu-content" *ngIf="channelsMenuOpen">
          <ul *ngIf="currentWorkspace && currentWorkspace.channels">
            <li *ngFor="let channel of currentWorkspace.channels;"><span [class]="{'channel': true, 'channel-active': currentChannel && channel.id == currentChannel.id}" (click)="getChannelMessages(channel)">#&nbsp;&nbsp;{{ channel.name }}</span></li>
          </ul>
        </div>
    </div>
  </div>

  <div class="content">
    <div *ngIf="currentWorkspace" style="width: 100%; display: flex; align-items: center; justify-content: space-between; padding-top: 12px; margin-bottom: -8px;">
      <p class="cursor-pointer" title="All members" (click)="openModal('all-members')"><i class="fas fa-users"></i> ({{ currentWorkspace?.members?.length || 0 }})</p>
      <button *ngIf="currentWorkspaceMember?.role == 'ADMIN'" class="cursor-pointer" title="Add member" (click)="openModal('add-member')"><i class="fas fa-user-plus"></i></button>
    </div>
    <app-channel *ngIf="currentWorkspace && currentChannel" [currentWorkspace]="currentWorkspace" [currentChannel]="currentChannel"></app-channel>
    <h4 *ngIf="!(currentWorkspace && currentChannel)" style="margin-top: 42px">No channel...</h4>
  </div>
</section>

<div class="modal-background overflow-auto" *ngIf="modalIsOpen">
  <div class="modal-wrapper">
    <div class="modal-header">
      <div class="modal-title">
        <p *ngIf="modalContent == 'add-workspace'">Add Workspace</p>
        <p *ngIf="modalContent == 'add-channel'">Add channel</p>
        <p *ngIf="modalContent == 'all-members'" >All members</p>
        <p *ngIf="modalContent == 'add-member'">Add member</p>
        <p *ngIf="modalContent == 'workspace-settings' || modalContent == 'update-workspace'">WorkSpace settings : Update workspace</p>
        <p *ngIf="modalContent == 'manage-members'">WorkSpace settings : Manage members</p>
      </div>
      <a style="vertical-align: center; cursor: pointer"><i class="modal-close-button far fa-times-circle" (click)="closeModal()"></i></a>
    </div>
    <div class="modal-body">
      <app-add-workspace *ngIf="modalContent == 'add-workspace'"></app-add-workspace>
      <app-add-channel *ngIf="currentWorkspace && modalContent == 'add-channel'" [currentWorkspace]="currentWorkspace"></app-add-channel>
      <app-add-member *ngIf="currentWorkspace && modalContent == 'add-member'" [currentWorkspace]="currentWorkspace"></app-add-member>

      <div class="workspace-settings-header" *ngIf="modalContent == 'workspace-settings' || modalContent == 'update-workspace' || modalContent == 'manage-members'">
        <button [class]="{'workspace-settings-header-button-action': modalContent == 'workspace-settings' || modalContent == 'update-workspace'}" title="Update workspace" (click)="modalContent = 'update-workspace'"><i class="fas fa-network-wired"></i></button>
        <button [class]="{'workspace-settings-header-button-action': modalContent == 'manage-members'}" title="Manage members" (click)="modalContent = 'manage-members'"><i class="fas fa-users-cog"></i></button>
      </div>

      <app-update-workspace *ngIf="modalContent == 'workspace-settings' || modalContent == 'update-workspace'" [currentWorkspace]="currentWorkspace"></app-update-workspace>
      <app-workspace-members *ngIf="(modalContent == 'manage-members' || modalContent == 'all-members') && (currentWorkspace && currentWorkspace.members)" [members]="currentWorkspace.members" [currentMember]="currentWorkspaceMember" [isConfig]="modalContent === 'manage-members'"></app-workspace-members>
    </div>
  </div>
</div>

<div *ngIf="showAlert">
  <div *ngIf="alert.type=='SUCCESS'" class="profile-alert success-msg">
    <span><i class="fas fa-check-circle"></i>&nbsp;&nbsp;{{ alert.message }}</span>
    <i class="profile-alert-close-button far fa-times-circle" (click)="showAlert = false"></i>
  </div>
  <div *ngIf="alert && alert.type=='ERROR'" class="profile-alert error-msg">
    <span><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;{{ errorMessage }}</span>
    <i class="profile-alert-close-button far fa-times-circle" (click)="showAlert = false"></i>
  </div>
</div>
