<div [class]="{'app-not-auth': !isAuth, 'app-auth': isAuth}">
  <header [class]="{'not-auth-header': !isAuth, 'auth-header': isAuth}">
   <img class="not-auth-portal-logo" src="assets/logo.png" alt="SlackLike" *ngIf="!isAuth">
   <img class="auth-portal-logo" src="assets/logo.png" style="width: 8rem;" alt="SlackLike" *ngIf="isAuth">

    <div *ngIf="isAuth">
      <label class="dropdown">
        <div class="dropdown-button">
          <i class="far fa-user-circle"></i>&nbsp;
          <span *ngIf="authUser">{{ authUser.firstname }}</span>&nbsp;
          <i class="fas fa-caret-down"></i>
        </div>
        <input type="checkbox" class="dropdown-input" id="test">
        <ul class="dropdown-menu dropdown-profile-menu">
          <li class="divider"></li>
          <li (click)="logOut()"><i class="fas fa-sign-out-alt"></i>&nbsp;Log out</li>
        </ul>
      </label>
    </div>
  </header>

  <main class="main">
    <div *ngIf="!isAuth">
      <ng-particles id="tsparticles" class="tsparticles" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)" (particlesInit)="particlesInit($event)"></ng-particles>
      <app-portal></app-portal>
    </div>
    <app-profile *ngIf="isAuth"></app-profile>
  </main>

  <footer class="footer" *ngIf="!isAuth">
    <p>© 2021 slackLike</p>
  </footer>
</div>
