<section>
  <div class="update-workspace">
    <form [formGroup]="updateWorkSpaceForm" (ngSubmit)="onSubmitUpdateWorkSpaceForm()">
      <label for="name">Name
        <input type="text" formControlName="name" id="name" placeholder="Name" required>
      </label>
      <button type="submit">Update Workspace</button>
    </form>
  </div>
</section>
