<div class="portal">
  <input type="checkbox" id="chk" aria-hidden="true">

  <div class="login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
      <label for="chk" aria-hidden="true">Login</label>
      <input type="email" formControlName="email" placeholder="Email" required>
      <input type="password" formControlName="password" placeholder="Password" required>
      <button type="submit">Login</button>
    </form>
  </div>

  <div class="signup">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUpForm()">
      <label for="chk" aria-hidden="true">Sign up</label>
      <div>
        <input type="text" formControlName="firstname" placeholder="First name" required>
        <input type="text" formControlName="lastname" placeholder="Last name" required>
        <input type="email" formControlName="email" placeholder="Email" required>
        <input type="password" formControlName="password" placeholder="Password" required>
        <button type="submit">Sign up</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="alert && alert.type=='SUCCESS'" class="success-msg">
  <i class="fas fa-check-circle"></i>
  {{alert.message}}
</div>
<div *ngIf="alert && alert.type=='ERROR'" class="error-msg">
  <i class="fas fa-exclamation-triangle"></i>
  {{alert.message}}
</div>

